<body class="login-background">
    <div
      class="card login-card position-absolute top-50 start-50 translate-middle"
      style="width: 18rem;"
    >
      <div class="card-body">
        <img src="./images/logo-airbnb.png" alt="" />
        <form action="">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input type="email" class="form-control" name="login-email" />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label"
              >Password</label
            >
            <input type="password" class="form-control" name="login-password" />
          </div>
          <div class="">
            <button class="btn btn-success">Login</button>
          </div>
        </form>
        <span>New to airbnb?</span>
        <a href="#" class="card-link">Sign Up</a>
      </div>
    </div>
  </body>
